
<style>
  body {
              background-color: #121212;
              color: #C0C0C0;
            }
            
          a {
              color: #ffffff;
            }
            
          
          h1{
              font-size:100px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-weight:100;
              color: #999;
              text-shadow: 1px 1px 1px #000;
            }

          h2{
              font-size:55px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-style: italic;
              font-weight: 100;
              color: white;
              text-shadow: 1px 1px 1px #000;
            }
          
          h3{
              font-size:18px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-style:normal;
              font-weight:400;
              color: yellow;
            }
          
          h4{
              font-size:25px;
              font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
              font-style: normal;
              font-weight: 100;
              color: white;
              text-shadow: 1px 1px 1px #000;
            }
          
          
          
          
.row {
      padding-top: 50px;
      padding-bottom: 50px;
}
  
  
img {
      width: 100%;
      min-width:  100%;
      height: auto;
}
          
  </style>


  <body>

    <div class="container text-center" style="padding-top:50px;">
        <h1>Our Story</h1>
        
    </div>

    <div class="container">
      <hr class="muted">
      <!-- Example row of columns -->
      <div class="row">
        <div class="text-center">
          <h2>THE COMPANY</h2>
          <p>Interstellar Shipping, LLC. is a <strong>"planet-surface to planet-surface"</strong> cargo transport company based permanently in Earth orbit. 
          </p>
          <p>
          <br>
          <%= image_tag "Ross-Musk-launch-site.jpg" %>
          </p>
        </div>
      </div>
        
      <div class="row text-center">
        <div>
          <h2>EQUATORIAL HUBS</h2>
          <p>We establish a main transport hub on the surface of a planet at the equator for the "rotational assist" that it gives our vehicles at launch into orbit.  Our surface container ships port there to transfer cargo to-and-from our heavy lift launch vehicles (HLLV's).  These transportation hubs are powered by "lake-sized solar collectors" combined with ocean thermal energy systems. This energy system uses near-boiling dense salt water on the surface and cold water from the depths to drive heat engines, utilizing the temperature difference to produce electrical power - <strong>indefinitely</strong>.
          </p>
          <p><a href="http://jonrossdesign.com/BA_thesis/BAthesis.pdf" target="_blank" title="A Solar/Hydrogen-Powered Space Shuttle Launch Site">
          <%= image_tag "solar_powered_site.jpg" %><br>
            Original concept by Jon Ross | Published as a Bachelor's Degree Thesis in Design Science (1983)</a>
          </p>
          <p>
          <%= image_tag "hub-location.jpeg" %>
          </p>
          <p>
          <%= image_tag "transfer-orbits.jpg" %>
          </p>
          
          </p>
        </div>
      </div>
      
      <div class="row text-center">
        <div>
          <h2>OUR SURFACE SHIPS</h2>
          <p>----
          </p>
          <p>
          <br>
          <%= image_tag "BigThinking.jpg" %>
          </p>
        </div>
      </div>
        
      <div class="row text-center">
        <div>
          <h2>ORBITAL TRANSFER STATIONS</h2>
          <p>After launch, our heavy-lift transport vehicles dock at a low orbit transfer faciities where our interstellar starships descend to meet them from a higher orbit.
          </p>
          <p>
          <br>
          <%= image_tag "orbital-cargo-transfer.jpg" %>
          </p>
        </div>
      </div>
      
      <div class="row text-center">
        <div class="container">
          <h2>OUR STARSHIPS</h2>
          <p>Our interstellar starships are optimized for speedy transport, carrying maximum cargo with a minimal crew - sometimes piloted by a single individual.  That could be YOU!
          </p>
          <p>
          <br>
          <%= image_tag "Enterprise-D-in-low-orbit2.jpg" %>
          </p>
          
        </div>
        
      <hr class="muted">
      </div>
        
      </div>
      
      <div class="row text-center">
        <h2>Be the Master of Your Destiny...</h2>
        <h4>...and move cargo for us while you do it!</h4>
        <br><br><br>
        <a class="btn btn-lg btn-default" data-toggle="tooltip" data-placement="bottom" title="This web app is currently under construction">Join Us Today</a>
      </div>
      
      <footer>
        <p class="text-center">&copy; 2016 Interstellar Shipping, LLC.</p>
      </footer>


  </body>